
<br><br><br><br>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<link rel="stylesheet" href="css/home.css">


<!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media </h6>
              Status: Title<p contenteditable="true" ng-model="blog.blogTitle" class="w3-border w3-padding" placeholder="Status: Title"></p>
             Status: contents <p contenteditable="true"  ng-model="blog.blogContent" class="w3-border w3-padding" placeholder="Status: contents"></p>
               <button type="button" class="button" ><i class="fa fa-pencil"></i> Post</button>
            </div>
          </div>
        </div>
      </div>


<!-- <div class="container">
<form>

<div class="form-group">
Enter Blog Title
<input type="text" ng-model="blog.blogTitle" class="form-control">
</div>

<div class="form-group">
Enter Blog content
<textarea ng-model="blog.blogTitle" class="form-control"></textarea>
</div>

<input type="submit" ng-click="saveBlog()">
</form>



</div> -->






