<!-- 
<br><br>
 <center>Approval BlogPost</center>
<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<b>{{blogPost.blogTitle}}</b><br>

<b>Created By:</b>{{blogPost.postedBy.firstname}}<br>
<b>Created On:</b>{{blogPost.postedOn | date:'medium'}}
</div>
<div class="panel-body">
{{blogPost.blogContent}}
</div>
<center><b> likes</b>{{blogPost.likes}}

         <div ng-show="liked">
          <span class="glyphicon glyphicon-thumbs-up" style="color:blue" ng-click="updateLikes()"></span>
          </div>
          <div ng-show="!liked">
          <span class="glyphicon glyphicon-thumbs-up" style="color:black" ng-click="updateLikes()"> </span>
          </div></center>
<a></a>
<br>
</div>
</div>
</div>
Blog Comments  -->
<!--  <link rel="stylesheet" href="css/home.css">
<br><br><br><br>
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{blogPost.postedOn | date:'medium'}}</span>
        <h4>{{blogPost.postedBy.firstname}}</h4><br>
        <hr class="w3-clear">
        <p>{{blogPost.blogContent}}</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" style="background-color: black"><i class="fa fa-comment"></i>  Comment</button> 
        <button type="button" class="button" ><i class="fa fa-comment"></i>  Comment</button> 
        <i onclick="myFunction(this)" class="glyphicon glyphicon-thumbs-up" style="font-size:30px;color:blue;">{{blogPost.likes}}</i>
      </div>  -->





<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/comment.css">
<style>
h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald"
}

body {
	font-family: "Open Sans"
}
</style>
<body class="w3-light-grey">

	<!-- Navigation bar with social media icons -->
	<!-- <div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
</div> -->

	<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
	<!-- <div class="w3-content" style="max-width:1600px">

  Header
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>JANE BLOGLIFE</b></h1>
    <h6>Welcome to the blog of <span class="w3-tag">Jane's world</span></h6>
  </header>

  Image header
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="images/H3.jpg" alt="Fashion Blog" width="1600" height="1060">
    <img src="images/H4.jpg" alt="logo" style="width:70px;">
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Jane's</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Want's to Add A Blog</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">ADD</button></h6>
      <h6><a href="#/blogform.html" class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" >ADD</a></h6>
    </div>
  </header> -->



	<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
	<div class="w3-content" style="max-width: 1600px">

		<!-- Header -->
		<header class="w3-container w3-center w3-padding-48 w3-white">
			<h1 class="w3-xxxlarge">
				<b>JANE BLOGLIFE</b>
			</h1>
			<h6>
				Welcome to the blog of <span class="w3-tag">Jane's world</span>
			</h6>
		</header>

		<!-- Image header -->
		<!-- <header class="w3-display-container w3-wide" id="home">
			<img class="w3-image" src="images/blog6.png" alt="Fashion Blog"
				width="1600" height="1060">
			<div class="w3-display-left w3-padding-large">
				<h1 class="w3-text-white">Jane's</h1>
				<h1 class="w3-jumbo w3-text-white w3-hide-small">
					<b>Want's to Add A Blog</b>
				</h1>
				<h6>
					<button
						class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off"
						onclick="document.getElementById('subscribe').style.display='block'">ADD</button>
				</h6>

			</div>
		</header> -->


		<!-- Grid -->
		<!--   <div class="w3-row w3-padding w3-border">

    Blog entries
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <div class="w3-col l20 s20">
    
      Blog entry
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>This is ,{{blogPost.postedBy.firstname}}</h3>
          <h5>{{blogPost.blogTitle}}, <span class="w3-opacity">{{blogPost.postedOn | date:'medium'}}</span></h5>
        </div>

        <div class="w3-justify">
          <center><img src="images/H1.jpg" alt="Girl Hat"  width="1000" height="500" class="w3-padding-16"></center>
          <p><strong>{{blogPost.blogContent}}</strong></p>
          <p class="w3-left"> {{blogPost.likes}}</p>
          <div ng-show="liked">
          <span class="glyphicon glyphicon-thumbs-up" style="color:blue; width:15; height:15;" ng-click="updateLikes()"></span>
          </div>
          <div ng-show="!liked">
          <span class="glyphicon glyphicon-thumbs-up" style="color:black width:15; height:15;" ng-click="updateLikes()"> </span>
          </div>
          <p class="w3-right"><button class="w3-button w3-black"  id="myBtn"><b>Replies  </b> <span class="w3-tag w3-white">1</span></button></p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="/w3images/avatar_smoke.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div>
        </div>
      </div>
      <hr> -->







		<!--      
          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
       <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>This is ,{{blogPost.postedBy.firstname}}</h3>
          <h5>{{blogPost.blogTitle}}, <span class="w3-opacity">{{blogPost.postedOn | date:'medium'}}</span></h5>
        </div>
            <div class="w3-justify">
          <center><img src="images/H1.jpg" alt="Girl Hat"  width="1000" height="500" class="w3-padding-16"></center>
          <p><strong>{{blogPost.blogContent}}</strong></p>
          </div>
          </div>
          
  
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" style="background-color: black"><i class="fa fa-comment"></i>  Comment</button> 
        <button type="button" class="button" ><i class="fa fa-comment"></i>  Comment</button> 
        <i onclick="myFunction(this)" class="glyphicon glyphicon-thumbs-up" style="font-size:30px;color:blue;">{{blogPost.likes}}</i>
      </div>  -->





		<div class="w3-container w3-card w3-white w3-round w3-margin">
			<br>
			<div class="w3-center">
				<h3>This is ,{{blogPost.postedBy.firstname}}</h3>
				<h5>
					{{blogPost.blogTitle}}, <span class="w3-opacity">{{blogPost.postedOn
						| date:'medium'}}</span>
				</h5>
			</div>
			<center>
				<img src="images/H1.jpg" alt="Girl Hat" width="1000" height="500"
					class="w3-padding-16">
			</center>

			<hr class="w3-clear">
			<p>{{blogPost.blogContent}}</p>

<div>
			<b> likes</b>{{blogPost.likes}}
			<div ng-show="liked">
				<span class="glyphicon glyphicon-thumbs-up"
					style="color: blue; font-size: 30px;" ng-click="updateLikes()"></span>
			</div>
			<div ng-show="!liked">
				<span class="glyphicon glyphicon-thumbs-up"
					style="color: black; font-size: 30px;" ng-click="updateLikes()">
				</span>
			</div>

			<!-- <h3 class="text-success">Comments</h3>
			<div>
				<textarea rows="2" cols="150" ng-model="commentText"></textarea>
				<br>

				Inser data into blogvomment value (?,blogpostid,username,commenttext,commentedon)
				<input type="submit" ng-click="addComment()" value="POST COMMENT">
			</div> -->
			
			
			
			<a href="" ng-click="showComments()"><h3 class="text-success">Comments{{blogPost.blogComments.length}}</h3></a>
				<ul class="comments" ng-show="showComment" style="list-style: none">
				
				<div class="post-comments " ng-repeat="comment in blogPost.blogComments | orderBy:'commentedOn'">
				<div class="w3-col m7">
   
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
				<p class="meta"><a href="#"><strong>{{comment.commentedBy.username}}</strong></a> says : <i class="pull-right"><a href="#"><small>{{comment.commentedOn | date: 'medium'}}</small></a></i></p>
				      <p>
				         {{comment.commentText}}
				      </p>
				  </div><br>
				</div><br></div></div></div></div>
				
					<div>
				<textarea rows="2" cols="150" ng-model="commentText"></textarea>
				<br>

				<!-- Inser data into blogvomment value (?,blogpostid,username,commenttext,commentedon) -->
				<input type="submit" ng-click="addComment()" value="POST COMMENT">
			</div>
				
					<!-- <li ng-repeat="comment in blogPost.blogComments | orderBy:'commentedOn'">{{comment.commentText}}<br>
					    <strong>Commented By:</strong>{{comment.commentedBy.username}}&nbsp; 
						<strong>Commented On</strong>{{comment.commentedOn | date: 'medium'}}
					</li> -->
					
					 
				</ul>
			
			</div>
			
		</div>

           
			

<!-- <ul class="comments">
				<li class="clearfix">
				  <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
				  <div class="post-comments">
				      <p class="meta">Dec 18, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
				      <p>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				          Etiam a sapien odio, sit amet
				      </p>
				  </div>
				</li> -->













		<!-- END BLOG ENTRIES -->
	</div>



	<!-- Posts 
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="/w3images/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Denim</span>
            <br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img src="/w3images/bandmember.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Sweaters</span>
            <br>
            <span>Praes tinci sed</span>
          </li>
          <li class="w3-padding-16">
            <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Workshop</span>
            <br>
            <span>Ultricies congue</span>
          </li>
          <li class="w3-padding-16">
            <img src="/w3images/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
            <span class="w3-large">Trends</span>
            <br>
            <span>Lorem ipsum dipsum</span>
          </li>
        </ul>
      </div>
      <hr>

      Advertising
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Advertise</h4>
        </div>
        <div class="w3-container w3-white">
          <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
            <span class="w3-display-middle">Your AD Here</span>
          </div>
        </div>
      </div>
      <hr>

      Tags
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Fashion</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hats</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Norway</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sweaters</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Deals</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Accessories</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jeans</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Trends</span>
          </p>
        </div>
      </div>
      <hr>

      Inspiration
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Inspiration</h4>
        </div>
        <div class="w3-row-padding w3-white">
          <div class="w3-col s6">
            <p><img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%"></p>
            <p><img src="/w3images/team1.jpg" alt="Jeans" style="width:100%"></p>
          </div>
          <div class="w3-col s6">
            <p><img src="/w3images/avatar_hat.jpg" alt="Men in Hats" style="width:100%" class="w3-grayscale"></p>
            <p><img src="/w3images/team4.jpg" alt="Jeans" style="width:100%"></p>
         </div>
        </div>
      </div>
      <hr>

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Follow Me</h4>
        </div>
        <div class="w3-container w3-xlarge w3-padding">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
      </div>
      <hr>
      
      Subscribe
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Subscribe</h4>
        </div>
        <div class="w3-container w3-white">
          <p>Enter your e-mail below and get notified on the latest blog posts.</p>
          <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
          <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Subscribe</button></p>
        </div>
      </div>

    END About/Intro Menu
    </div>

  END GRID
  </div>

END w3-content
</div>

Subscribe Modal
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

Footer
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

function likeFunction(x) {
    x.style.fontWeight = "bold";
    x.innerHTML = "✓ Liked";
}
</script>

</body>
</html>
       -->