<br><br>
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/comment.css">
		<link rel="stylesheet" href="css/blogdetail.css">
<style>
h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald"
}
body {
	font-family: "Open Sans"
}
.w3-row .w3-col m3 .w3-bar-block a:hover{
color:green;
background-color:orange;
}
a:hover{
color:#67C8FF;
/* background-color:orange; */
}
</style>
<body class="w3-light-grey">

	


	<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
	<br><div class="w3-content" style="max-width: 1600px">

<h4>
			<marquee scrollamount="10" style="color: #fb0808!important;">Welcome to the blog of <span class="w3-tag">iPost's world</span></marquee>
		    </h4>
		<!-- Header -->
		<header class="w3-container w3-center w3-padding-35 w3-white">
			<h1 class="w3-xxxlarge">
				 <b>iPost BLOGLIFE</b>
				<center><a href="http://www.fillster.com/animated-glitters/1/" target="_blank"><img src="http://www.fillster.com/images/glitters/136n.gif" border="0" ></a><br /><a style="font-size: 12px;"  target="_blank"></a></center>
			</h1>
			
	      <h4> <marquee scrollamount="5" width="40"style="color: #fb0808!important;">&lt;&lt;&lt;</marquee> <a href="#/addblog"  class="w3-bar-item w3-button"><b></strong>Click me to Add Blog</b></a><marquee scrollamount="5" direction="right" width="40" style="color: #fb0808!important;">&gt;&gt;&gt;</marquee></h4>
		</header>

	
		<div class="w3-container w3-card w3-white w3-round w3-margin">
			<br>
			
			<img
				src="http://localhost:8080/SocialAppMRest/getimage/{{blogPost.postedBy.username}}"
				alt="" onerror="this.src='images/avtar3.png'"
				class="img-responsive img-circle  " style="margin:auto;max-width:100px"
				height="100" width="100">
			<div class="w3-center">
				<h3>This is ,{{blogPost.postedBy.firstname}}</h3>
				<h5>
					 <span class="w3-opacity">{{blogPost.postedOn| date:'medium'}}</span>
				</h5>
				<center><h4>{{blogPost.blogTitle}}</h4></center>
				
				<center><a href="#/blogimage/{{blogPost.id}}" ng-if="currentUser.username==blogPost.postedBy.username"><button ng-show="currentUser.username==blogPost.postedBy.username" class="w3-btn w3-white w3-border w3-border-red w3-round-large" role="button">Upload Image</button></a></center>   
				  
			</div>
			<hr/>
			<!-- <center>
				<img src="images/H1.jpg" alt="Girl Hat" width="1000" height="500"
					class="w3-padding-16">
			</center> -->

			<div class="panel panel-default" >
			<p>{{blogPost.blogContent}}</p>
			</div>

<div>
			<b> likes</b>{{blogPost.likes}}
			<div ng-show="liked">
				<span class="glyphicon glyphicon-thumbs-up"
					style="color: blue; font-size: 30px;" ng-click="updateLikes()"></span>
			</div>
			<div ng-show="!liked">
				<span class="glyphicon glyphicon-thumbs-up"
					style="color: black; font-size: 30px;" ng-click="updateLikes()">
				</span>
			</div>

			
			
			<button class="button"><a href="" ng-click="showComments()"><h3 class="text-success">Comments{{blogPost.blogComments.length}}</h3></a></button><br><br><br>
				<ul class="comments" ng-show="showComment" style="list-style: none">
				
				<div class="post-comments " ng-repeat="comment in blogPost.blogComments | orderBy:'commentedOn'">
				<div class="w3-col m7">
   <br>
     
				  
				<div class="panel panel-default">
				<div class="panel-heading" >
        <img  src="http://localhost:8080/SocialAppMRest/getimage/{{blogPost.postedBy.username}}"
				alt="" onerror="this.src='images/avtar3.png' " class="w3-left w3-circle w3-margin-right" style="width:50px;height:50px;">
        <span class="w3-right w3-opacity">{{blogPost.postedOn | date:'medium'}}</span>
        <h4>{{comment.commentedBy.firstname}} &nbsp;{{comment.commentedBy.lastname}}</h4><br>
        </div>
        <div class="panel-body">
       
     
        <p>{{comment.commentText}}</p>
        </div>
        
 
      </div>  
			  
				  </div></div>
				
					<div>
				<textarea rows="2" cols="150" ng-model="commentText"></textarea>
				<br>

				<!-- Inser data into blogvomment value (?,blogpostid,username,commenttext,commentedon) -->
				<input type="submit" ng-click="addComment()" value="POST COMMENT">
			</div>
				 
				</ul>
			
			</div>
			
		</div>

<br><br><br>


		<!-- END BLOG ENTRIES -->
	</div>


