
<br>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open Sans">


	<link rel="stylesheet" href="css/comment.css">
		<link rel="stylesheet" href="css/blogdetail.css">
		<link rel="stylesheet" href="css/blogtable.css">

 




 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans","Oswald", sans-serif}

</style>
<link rel="stylesheet" href="css/home.css">
<!-- Header -->
		<header class="w3-container w3-center w3-padding-48 w3-white">
			<h1 class="w3-xxxlarge">
				<b>iPost BLOGLIFE</b>
			</h1>
			<center><a href="http://www.fillster.com/animated-glitters/1/" target="_blank"><img src="http://www.fillster.com/images/glitters/136n.gif" border="0" ></a><br /><a style="font-size: 12px;"  target="_blank"></a></center>
			<h4>
			<marquee scrollamount="10" style="color: #fb0808!important;">Welcome to the blog of <span class="w3-tag">iPost's world</span></marquee>
			
				
	       </h4>
	     
		</header>

<!--  Middle Column  -->
    <center><div class="w3-col m7">
    {{error.message}}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media </h6>
              Status: Title<input type="text" ng-model="blog.blogTitle" class="form-control">
             Status: contents <input type="text" ng-model="blog.blogContent" class="form-control">
                <button type="submit" class="button" ng-click="saveBlog()" ><i class="fa fa-pencil"></i> Post</button> 
              <!-- <input type="submit" ng-click="saveBlog()"> -->
            </div>
          </div>
        </div>
      </div>


   </div> 
</center>
<!-- <div class="container">
<form>
<div class="form-group">
Enter Blog title
<input type="text" ng-model="blog.blogTitle" class="form-control">

<div class="form-group">
Enter Blog content
<input type="text" ng-model="blog.blogContent" class="form-control">
</div>

<input type="submit" ng-click="saveBlog()">
</form>


</div>
 -->



