<br>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/comment.css">
		<link rel="stylesheet" href="css/blogdetail.css">
		<link rel="stylesheet" href="css/blogtable.css">
<style>
h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald"
}
body {
	font-family: "Open Sans"
}
</style>
 
<!-- Header -->
		<header class="w3-container w3-center w3-padding-48 w3-white">
			<h1 class="w3-xxxlarge">
				<b>iPost BLOGLIFE</b>
			</h1>
			<h4>
			<marquee scrollamount="10" style="color: #fb0808!important;">Welcome to the blog of <span class="w3-tag">iPost's world</span></marquee>
			
				
	       </h4>
	     
		</header>
		
		
		<!-- --------seach bar------- -->
    <div  style="margin:auto;max-width:300px">
   <form  role="search" >
                <div class="input-group">
                    <input type="text" ng-model="search" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
  </div> 
  <!-- -----------end-------------- -->

<div ng-show="currentUser.role=='ADMIN'">


 <marquee behavior="alternate"><h2 style="color: #fd0505;">Waiting For Approval</h2></marquee>
  
	<!-- <h3>List of Blogs waiting for approval</h3> -->
	<div ng-if="blogsWaitingForApproval.length==0">No Approved blogposts available</div>
    <table ng-show="blogsWaitingForApproval.length>0" class="table table-striped" >
		<thead class="bg-primary" style="color: #0ebcbd;">
			<tr>
				<td>Blog Title</td>
				<td>Author</td>
				<td>Posted On</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="blogPost in blogsWaitingForApproval | filter:search">
				<!-- <td><a  href="#/admin/getblog/{{blogPost.id}}">{{blogPost.blogTitle}}</a></td> -->
				<td>{{blogPost.blogTitle}}</td>
				<td>{{blogPost.postedBy.firstname}}&nbsp;{{blogPost.postedBy.lastname}}</td>
				<td>{{blogPost.postedOn | date : 'medium'}}</td>
				<td> <a href="#/admin/getblog/{{blogPost.id}}" class="btn btn-primary">Form</a></td>
			</tr>
		</tbody>
	</table>

</div>
	 <div>
	 <marquee behavior="alternate"><h3 style="color: #19d7e2;">List of Blogs</h3></marquee>
	   <!-- <marquee loop="5"><h2>List of Blogs</h2></marquee> -->
		<!-- <h3>List of blogs approved</h3> -->
		<div ng-if="blogsApproved.length==0">No Approved blogposts available</div>
		<table ng-show="blogsApproved.length>0" class="table table-striped">
			<thead class="bg-primary">
				<tr>
					<td>Blog Title</td>
					<td>Author</td>
					<td>Posted on</td>
					<td></td>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="blogPost in blogsApproved | filter:search">
					<td>{{blogPost.blogTitle}}</td>
					
					<!-- <td>{{blogPost.postedBy.username}}</td> -->
					<td>{{blogPost.postedBy.firstname}}&nbsp;{{blogPost.postedBy.lastname}}</td>
					<td>{{blogPost.postedOn | date : 'medium'}}</td>
					<td><a href="#/getblog/{{blogPost.id}}" class="btn btn-primary"> Blog View</a></td>
				</tr>

			</tbody>
		</table>
	</div>

