<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/comment.css">
		<link rel="stylesheet" href="css/blogdetail.css">
		<style>
Style Attribute {
    color: #fcf8e3;
}


.bg-primary {
    color: #fff;
    background-color: #337ab7;
}
</style>
<br>
     <!-- Header -->
		<header class="w3-container w3-center w3-padding-48 w3-white">
			<h1 class="w3-xxxlarge">
				<b>iPost Friends</b> <h3><span class="w3-opacity"><b>Your Friends</b></span></h3> 
			</h1>
			<center><a href="http://www.fillster.com/animated-glitters/1/" target="_blank"><img src="http://www.fillster.com/images/glitters/136n.gif" border="0" ></a><br /><a style="font-size: 12px;"  target="_blank"></a></center>
			<h4>
			<marquee scrollamount="10" style="color: #fb0808!important;">Your Friends <span class="w3-tag">iPost's world</span></marquee>
			
				
	       </h4>
	      <h4> <marquee scrollamount="5" width="40"style="color: #fb0808!important;">&lt;&lt;&lt;</marquee> <a href="#/suggestedusers"  class="w3-bar-item w3-button"><b></strong>Click me to Find New Friend</b></a><marquee scrollamount="5" direction="right" width="40" style="color: #fb0808!important;">&gt;&gt;&gt;</marquee></h4>
		</header>
		
		
<table class="table table-striped">
	
		



	<tbody>
		<tr ng-repeat="friend in friends">
			<!-- suggest user in list<User> , user in user object -->
			<td>
	
        <img  src="http://localhost:8080/SocialAppMRest/getimage/{{friend.username}}"
				alt="" onerror="this.src='images/avtar3.png' " class="w3-left w3-circle w3-margin-right" style="width:50px;height:50px;">
        <span class="w3-right w3-opacity">{{blogPost.postedOn | date:'medium'}}</span>
        <h4>{{friend.firstname}} &nbsp;{{friend.lastname}}</h4></td></tr>
       
	</tbody>
</table>