
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
<!-- </head>

<body> -->
  <div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      
      <h1 class="logo__text">Spectre</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to MI6.</h1>
      <h2 class="heading--secondary">Are you ready to join the elite?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="http://alexdevero.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://www.behance.net/alexdevero" target="_blank"><fa class="fa fa-behance"></fa></a></li>
        <li><a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  
  <div class="container__child signup__form">
   <span style="color: red">{{error.message}}</span>
    <form action="#" method="post">
      <div class="form-group">
        <label for="jobTitle">job Title</label>
        <input class="form-control" ng-model="job.jobTitle" type="text" name="jobTitle" id="jobTitle" placeholder="jobTitle" required/>
       
      </div>
      
       <div class="form-group">
        <label for="username">job Description</label>
        <input class="form-control" ng-model="job.jobDescription" type="text" name="jobDescription" id="jobDescription" placeholder="jobDescription" required/>
       
      </div>
      
      <div class="form-group">
        <label for="skillsRequired">Skill</label>
        <input class="form-control" ng-model="job.skillsRequired" type="text" name="skillsRequired" id="skillsRequired" placeholder="skill" required />
      </div>
      
      <div class="form-group">
        <label for="location">location</label>
        <input class="form-control" ng-model="job.location" type="text" name="location" id="location" placeholder="location" required />
      </div>
      
      
      <div class="form-group">
        <label for="companyname">Company Name</label>
        <input class="form-control" ng-model="job.companyname" type="text" name="companyname" id="companyname" placeholder="companyname" required />
      </div>
      
      
      
      <div class="form-group">
        <label for="salary">Salary</label>
        <input class="form-control" ng-model="job.salary" type="text" name="salary" id="salary" placeholder="salary" required />
         
      </div>
      
      <div class="form-group">
        <label for="yrsOfExp">years Of Exp</label>
        <input class="form-control" ng-model="job.yrsOfExp" " type="text" name="yrsOfExp" id="yrsOfExp" placeholder="yrsOfExp" required />
      </div>
      
      
      
      
     
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            
   
    
    
     <div>
          <li>
            <input class="btn btn--form" type="submit" value="Add Job" ng-click="addJob()" />
          </li>
    
    </div>
   
         
          </li>
         
        </ul>
      </div>
    </form>
     
  </div>
</div>