
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/loginn.css">

  

  <div class="login-form" >
     <h1>iPost</h1>
     <span class="alert" style="color:red">{{error.message}}</span>
     <div class="form-group ">
       <input type="text" class="form-control" placeholder="Username " ng-model="user.username" id="UserName">
       <i class="fa fa-user"></i>
     </div>
     <div class="form-group ">
       <input type="password" class="form-control" placeholder="Password" ng-model="user.password" id="Passwod">
       <i class="fa fa-lock"></i>
     </div>
   
     
     <button type="button" class="log-btn" ng-click="login()" >Log in</button>
     
    
   </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="js/loginn.js"></script>


 