<div class="panel panel-default">
      <div class="panel-heading"><p class="meta"><a href="#" style="color: #7d18b1;"><strong> {{comment.commentedBy.username}}</strong></a> says : <i class="pull-right"><a href="#" style="color: #7d18b1;"><strong>{{comment.commentedOn | date: 'medium'}}</strong></a></i></p></div>
      <div class="panel-body"> <p>
				         {{comment.commentText}}
		
				  </div>
				  </div>



<!-- carousel -->
 <div class="w3-content w3-section" >
  <img class="mySlides w3-right" src="images/H5.jpg" style="max-width:900px; max-hight:500px;">
  <img class="mySlides w3-right" src="images/H5.jpg" style="max-width:900px; max-hight:500px;">
  <img class="mySlides w3-right" src="images/H4.jpg" style="max-width:900px; max-hight:500px;">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>


          <!-- caroussel end -->

          










<div class="container-fluid mt-50 pl-0">
				<div class="row">
					<div class="col-md-2 p-0 bg-yellow">
						<div id="profile" class="pl-30 pr-20 pt-20 pb-30 bg-black">
							<img src="http://localhost:8081/studentforumbackend/getimage/{{currentUser.username}}" alt="" onerror="this.src='images/user2.png'" class="img-responsive img-circle"><br>	
							<i style="color:#fff"> {{currentUser.firstname}} {{currentUser.lastname}}</i><br>
							<i style="color:#fff"> {{currentUser.role}}</i>
						</div>
						<div class="pl-15 ">
								 <ul class="nav nav-pills nav-stacked" id="stacked-menu">
										<li><a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p2"><i class="fa-address-book fa"></i> Profile<div class="caret-container"><span class="caret arrow"></span></div></a>    
										
											 <ul class="nav nav-pills nav-stacked collapse in" id="p2">
												<li data-toggle="collapse" data-parent="#p2" href="#pv1">
												   <a class="nav-sub-container" href="#/editprofile"><i class="fa  fa-angle-double-right"></i> Update Profile</a></li>
												 
												
												<li data-toggle="collapse" data-parent="#p2" href="#pv2">
												  <a class="nav-sub-container" href="#/profilepic" ><i class="fa  fa-angle-double-right"></i>Change Profile Picture</a></li>
												
											  </ul>
											
										</li>
										<li>
										  <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p1"> <i class="fa fa-users" aria-hidden="true"></i> Users<div class="caret-container"><span class="caret arrow"></span></div></a>    
										  
										  <ul class="nav nav-pills nav-stacked collapse in" id="p1">
											<li data-toggle="collapse" data-parent="#p1" href="#pv1">
											  <a class="nav-sub-container" href="#/listoffriends"><i class="fa  fa-angle-double-right"></i> My Friends</a></li>
											 
											
											
											<li data-toggle="collapse" data-parent="#p1" href="#pv2">
											  <a class="nav-sub-container" href="#/suggesteduserslist"><i class="fa  fa-angle-double-right"></i>Users</a></li>
											 

											<li data-toggle="collapse" data-parent="#p1" href="#pv3">
											  <a class="nav-sub-container" href="#/pendingrequests"><i class="fa  fa-angle-double-right"></i> Friend Requests</a></li>
											  
											 
											
											 
											
											
										  </ul>
										  
										</li>
										
										
										<li><a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p3"><i class="fa fa-rss" aria-hidden="true"></i> Blog<div class="caret-container"><span class="caret arrow"></span></div></a>    
										
											 <ul class="nav nav-pills nav-stacked collapse in" id="p3">
												<li data-toggle="collapse" data-parent="#p3" href="#pv1">
												  <a class="nav-sub-container" href="#/getallblogs"><i class="fa  fa-angle-double-right"></i> View Blogs</a></li>
												  
												 	<li data-toggle="collapse" data-parent="#p3" href="#pv1">
												  <a class="nav-sub-container" href="#/getallapprovelblogs" ng-show="currentUser.role=='ADMIN'"><i class="fa  fa-angle-double-right"></i>Approve Blogs</a></li>										
												
												 <li data-toggle="collapse" data-parent="#p3" href="#pv3">
												  <a class="nav-sub-container" href="#/saveblogpost"><i class="fa  fa-angle-double-right"></i> Create Blog</a></li>
		 
												
												
											  </ul>
											
										</li>
										
										<li><a class="nav-container" href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
									  </ul>
						
						</div>
					
					</div>
					
					<!-- Main Body Starts -->
					<div class="col-md-10 pt-40 ">
						
						
							
							       <marquee width="100%"><font size="6" face="Verdana"><b>Welcome {{currentUser.firstname}} {{currentUser.lastname}}, you are now logged in as an {{currentUser.role}}</b></font></marquee><br><br>
							      
							       <h2 class="text-center mb-20">Student Forum - All about Chat, Forum, Blog, Profiles & Many More</h2>
									
									<!--  <div class="media p-20 bg-bluish" ng-repeat="blog in blogPostsApproved">
									  <div class="media-left">
										<img src="images/img_avatar1.png" class="media-object" style="width:60px">
									  </div>
									  <div class="media-body">
									    <a href="#/getblogpostbyid/{{blog.id}}"><h2 class="media-heading yellow">{{blog.blogTitle}}</h2></a>
										<h5 class="media-heading" style="color:#f9e246;">{{blog.postedBy.username}}</h5>
									  </div>
									</div>-->
									<img src="images/digital.jpg" class="img-responsive">
									
									
							
							
						
					</div>
				</div>						
	</div>			
	
	
			<!-- footer strats here-->
			<div class="container-fluid bg-yellow mt-30">
				<div class="container" style="padding:30px">
						<div class="row">
								 <div class="col-sm-4">
								 <p><b>Contact Details</b></p>
								  <p>NIIT,2nd Floor, Jayashree Building, Next to Paradise Towers, Gokhale Road, Thane West, Naupada.</p>
								  <p><i class="fa fa-map-marker"></i> Maharashtra, India</p>
								  <p><i class="fa fa-phone"></i> +00 1515151515</p>
								  <p><i class="fa fa-envelope"></i> admin@studentforum.com</p>
								</div>
								<div class="col-sm-4">
								  <div class="row">
									<div class="col-sm-6 form-group">
									  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
									</div>
									<div class="col-sm-6 form-group">
									  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
									</div>
								  </div>
								  <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="3"></textarea><br>
								  <div class="row">
									<div class="col-sm-12 form-group">
									  <button class="btn btn-default pull-right" type="submit">Send</button>
									</div>
								  </div>
								</div>
								<div class="col-sm-4">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.170594320852!2d72.97329121446982!3d19.187749887023937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b920c9f39551%3A0xf945af6df994a80!2sNIIT!5e0!3m2!1sen!2sin!4v1498773636228" width="100%" height=180 border="1"></iframe>
								</div>
						 </div>
				</div>
				
				
			
			</div>