<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/comment.css">
<link rel="stylesheet" href="css/blogdetail.css">
<br>
<!-- Header -->
<header class="w3-container w3-center w3-padding-48 w3-white">
	<h1 class="w3-xxxlarge">
		<b>iPost Friend</b>
		<h3>
			<span class="w3-opacity"><b>Friend Requests</b></span>
		</h3>
	</h1>
	<center><a href="http://www.fillster.com/animated-glitters/1/" target="_blank"><img src="http://www.fillster.com/images/glitters/136n.gif" border="0" ></a><br /><a style="font-size: 12px;"  target="_blank"></a></center>
	<h4>
		<marquee scrollamount="10" style="color: #fb0808 !important;">
			Choose Friends <span class="w3-tag">iPost's world</span>
		</marquee>


	</h4>
	<h4>
		<marquee scrollamount="5" width="40"
			style="color: #fb0808 !important;">&lt;&lt;&lt;</marquee>
		<a href="#/addblog" class="w3-bar-item w3-button"><b></strong>Click me
				to Find FriendList</b></a>
		<marquee scrollamount="5" direction="right" width="40"
			style="color: #fb0808 !important;">&gt;&gt;&gt;</marquee>
	</h4>
</header>

<div ng-show="pendingRequests.length==0">
<Center><h3><p style="color:blue;">No pending Requests</p></h3></Center>
</div>
<table class="table table-striped" ng-show="pendingRequests.length>0">


	<tbody>
		<!-- pending request is the object of type friend -->
		<!-- pendingrequest is List<Friend> -->
		<tr ng-repeat="pendingrequest in pendingRequests">
			<!-- suggest user in list<User> , user in user object -->
			<td><!-- <img
				src="http://localhost:8080/SocialAppMRest/getimage/{{pendingrequest.fromId}}"
				alt="" onerror="this.src='images/avtar3.png'"
				class="img-responsive img-circle  "
				height="40" width="40"><a ng-click="">{{pendingrequest.fromId}}</a></td>
           <td> -->
           
           
           <img  src="http://localhost:8080/SocialAppMRest/getimage/{{pendingrequest.fromId}}"
				alt="" onerror="this.src='images/avtar3.png' " class="w3-left w3-circle w3-margin-right" style="width:50px;height:50px;">
        <h4>{{pendingrequest.fromId}}</h4>
       
           
           
				<div  class="w3-bar">
			
                     <!-- Accept -update friend set status ='A' where id=? -->
					<button class=" w3-btn w3-bar-item w3-button w3-green" ng-click="updatePendingRequest(pendingrequest,'A')">Accept</button>
					<!-- Delete - delete friend where id=? -->
					<button class="w3-btn w3-bar-item w3-button w3-red" ng-click="updatePendingRequest(pendingrequest,'D')">Delete</button>

				</div>
			</td>

		</tr>
	</tbody>
</table>