<br>
<br><br><br><br><br>
<br><br><br><br><br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

 
<!-- </head>

<body> -->

  <div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      
      <h1 class="logo__text">Spectre</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to MI6.</h1>
      <h2 class="heading--secondary">Are you ready to join the elite?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="http://alexdevero.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://www.behance.net/alexdevero" target="_blank"><fa class="fa fa-behance"></fa></a></li>
        <li><a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  
  <div class="container__child signup__form">
   <span style="color: red" ng-if="error.code==1">{{error.message}}</span>
    <form action="#/login" method="post">
      <div class="form-group">
        <label for="username">User Name</label>
        <input class="form-control" ng-model="user.username" type="text" name="username" id="username" placeholder="user name" required/>
        <span style="color: red" ng-if="error.code==2">{{error.message}}</span>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" ng-model="user.password" type="password" name="password" id="password" placeholder="********" required />
      </div>
      
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input class="form-control" ng-model="user.firstname" type="text" name="firstname" id="firstname" placeholder="first name" required />
      </div>
      
      
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input class="form-control" ng-model="user.lastname" type="text" name="lastname" id="lastname" placeholder="last name" required />
      </div>
      
      
      
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" ng-model="user.email" type="email" name="email" id="email" placeholder="james.bond@spectre.com" required />
         <span style="color: red" ng-if="error.code==3">{{error.message}}</span>
      </div>
      
      <div class="form-group">
        <label for="phonenumber">Mobile Number</label>
        <input class="form-control" ng-model="user.phonenumber" type="text" name="phonenumber" id="phonenumber" placeholder="Mobile number" required />
      </div>
      
      <div class="form-group">
        <label for="role"> Select Role</label>
        Employee
        <input  ng-model="user.role" type="radio" value="Employee"   />
        Alumni
        <input  ng-model="user.role" type="radio" value="Alumni"  />
        
      </div>
      
      
     
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            
   
   
    
     <div>
          <li>
            <input class="btn btn--form" type="submit" value="Register"  ng-click="registerUser()" />
          </li>
    
    </div>
   
         
          </li>
          <li>
            <a class="signup__link" href="#/login">I am already a member.</a>
          </li>
        </ul>
      </div>
    </form>
     
  </div>
</div>










<!-- 
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/w3images/onepage_restaurant.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p>logo</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-black">menu</button></p>
    <p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black">contact</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge">monday - friday 10-23 | saturday 14-02</p>
    <p class="w3-large">42 village St, New York</p>
    <p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </div>
</div>

Menu Modal
<div id="menu" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Starters</h1>
    </div>
    <div class="w3-container">
      <h5>Tomato Soup <b>$2.50</b></h5>
      <h5>Chicken Salad <b>$3.50</b></h5>
      <h5>Bread and Butter <b>$1.00</b></h5>
    </div>
    <div class="w3-container w3-black">
      <h1>Main Courses</h1>
    </div>
    <div class="w3-container">
      <h5>Grilled Fish and Potatoes <b>$8.50</b></h5>
      <h5>Italian Pizza <b>$5.50</b></h5>
      <h5>Veggie Pasta <b>$4.00</b></h5>
      <h5>Chicken and Potatoes <b>$6.50</b></h5>
      <h5>Deluxe Burger <b>$5.00</b></h5>
    </div>
    <div class="w3-container w3-black">
      <h1>Desserts</h1>
    </div>
    <div class="w3-container">
      <h5>Fruit Salad <b>$2.50</b></h5>
      <h5>Ice cream <b>$2.00</b></h5>
      <h5>Chocolate Cake <b>$4.00</b></h5>
      <h5>Cheese <b>$5.50</b></h5>
    </div>
  </div>
</div>

Contact Modal
<div id="contact" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Contact</h1>
    </div>
    <div class="w3-container">
      <p>Reserve a table, ask for today's special or just send us a message:</p>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="How many people" required name="People"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
        <p><button class="w3-button" type="submit">SEND MESSAGE</button></p>
      </form>
    </div>
  </div>
</div>

</body>
</html> -->



