<div>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>FIRSTNAME</th>
					<th>LASTNAME</th>
					<th>EMAIL</th>
					<th>PHONENUMBER</th>
					<th>ADDRESS</th>
					<th>PASSWORD</th>
					<th>Action</th>

				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="p in persons">
					<td>{{p.id}}</td>
					<td>{{p.firstname}}</td>
					<td>{{p.lastname}}</td>
					<td>{{p.email}}</td>
					<td>{{p.phonenumber}}</td>
					<td>{{p.address}}</td>
					<td>{{p.password}}</td>
					<td><a ng-click="deletePerson(p.id)"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
					</tr>
					
			</tbody>

		</table>

</div>
